@import "tailwindcss";
@import "tailwindcss-intersect";
@plugin "tailwindcss-motion";
@plugin "flyonui";
@plugin "flyonui/theme" {
  name: "light";
  default: true;
  --color-primary: #bf7c51;
  --color-secondary: #0e5899;
}
@plugin "@iconify/tailwind4";
@import "../node_modules/flyonui/variants.css"; /* Require only if you want to use FlyonUI JS component */

/* If you gitignored node_modules use below method */
@source "../node_modules/flyonui/dist/index.js"; /* Require only if you want to use FlyonUI JS component */
@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-gray-50 dark:bg-gray-950 ;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
body{
  @apply max-w-screen overflow-x-hidden;
}
.btn, input, .menu,.input,textarea,select{
  @apply rounded-none ;
}